<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Foundations of Algebra</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <!-- Navigation bar -->
    <%- include('partials/nav') %>
    <div class="container">
      <h1>Login</h1>
      <p>Enter your email to continue. Guests will be registered automatically.</p>
      <form action="/login" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
        <button type="submit">Login</button>
      </form>
    </div>
  </body>
</html>